
# FastAPI and ASGI server
fastapi==0.100.1
uvicorn==0.23.2

# Database
sqlalchemy==1.4.48

# Authentication and Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6

# Validation and Serialization
pydantic==1.10.12

# Environment Variables
python-dotenv==1.0.0

